# Core packages
streamlit==1.38.0
pandas==2.0.3
numpy==1.25.2
matplotlib==3.7.2
seaborn==0.13.2
plotly==5.24.1
streamlit-option-menu==0.3.4
altair==5.3.0

# Forecasting (Streamlit Cloud-friendly)
pystan==2.19.1.1
fbprophet==0.7.1

# Machine Learning
scikit-learn==1.5.2
